.form {
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group {
  margin: 25px 0;
  width: 50%;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.form__btn {
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}